<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" 
      th:lang="${lang}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <!-- prevent cache -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        
        <title th:text="#{searchPageTitle}"></title>
        <meta name="author" content="Gecko Solutions">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="icon" th:href="@{/favicon.ico}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/flat/theme.css}" type="text/css">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/app/atms/login.js}" type="text/javascript"></script>
    </head>
    <body onload='document.loginForm.username.focus();'>
        <form id="loginForm" class="form-inline my-2 my-lg-0" action="#" th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td th:text="#{Username}">
                    </td>
                    <td>
                        <input type="text" id="username" name="username" class="form-control is-valid" th:value="${username}" th:placeholder="#{Username}">
                    </td>
                </tr>
                <tr>
                    <td th:text="#{Password}">
                    </td>
                    <td>
                        <input type="password" id="password" name="password" class="form-control is-valid" th:value="${password}" th:placeholder="#{Password}">
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <span>
                            <input class="btn btn-secondary my-2" type="submit" th:value="#{Login}"/>
                            &nbsp;
                            <input class="btn btn-primary my-2" type="reset" th:value="#{Cancel}"/>
                            &nbsp;
                            <input id="remember_me" name="remember-me" type="checkbox"/>
                            <label for="remember_me" class="inline" th:value="#{RememberMe}"></label>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>