<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="lang=${#locale.language}" 
      th:lang="${lang}">
    <head>
        <!-- prevent cache -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        
        <title th:text="#{editPageTitle}"></title>
        <meta name="author" content="Gecko Solutions">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="icon" th:href="@{/favicon.ico}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/flat/theme.css}" type="text/css">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/app/atms/edit.js}" type="text/javascript"></script>
    </head>
    <body>
        <form class="my-3" action="#" th:object="${atm}" th:action="@{/atms/edit}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <label th:text="#{Street}"/>
            <input type="text" class="form-control" th:field="*{addressStreet}"/>
            <label th:text="#{Housenumber}"/>
            <input type="text" class="form-control" th:field="*{addressHousenumber}"/>
            <label th:text="#{Postalcode}"/>
            <input type="text" class="form-control" th:field="*{addressPostalcode}"/>
            <label th:text="#{City}"/>
            <input type="text" class="form-control" th:field="*{addressCity}"/>
            <label th:text="#{Latitude}"/>
            <input type="text" class="form-control" th:field="*{addressGeoLocationLat}"/>
            <label th:text="#{Longitude}"/>
            <input type="text" class="form-control" th:field="*{addressGeoLocationLng}"/>
            <label th:text="#{Distance}"/>
            <input type="text" class="form-control" th:field="*{distance}"/>
            <label th:text="#{Type}"/>
            <input type="text" class="form-control" th:field="*{atmType}"/>
            <input class="btn btn-secondary my-2" type="submit" th:value="#{Save}"/>
            <input class="btn btn-primary my-2" type="reset" th:value="#{Reset}"/>
            <input type="button" class="btn-link" th:value="#{Delete}" onclick="confirmATMDelete('#{areYouSure}', '#{Canceled}', document.getElementsByName('id').value)">
            <input type="button" class="btn-link" th:value="#{Search}" onclick="window.location='../atms/search'"/>
        </form>
    </body>
</html>
