<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <!-- prevent cache -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta th:title="#{searchPageTitle}"></meta>
        <meta name="author" content="Gecko Solutions">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="icon" th:href="@{/favicon.ico}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/flat/theme.css}" type="text/css">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/app/atms/search.js}" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <a href="#" onclick="loadATMs()" th:value="#{load}">Load</a>
            <a href="#" style="pointer-events: none; cursor: default;">|</a>
            <a href="#" onclick="clearATMs()" th:value="#{clear}">Clear</a>
            <a href="#" style="pointer-events: none; cursor: default;">|</a>
            <a href="edit" th:value="#{New}">New</a>
            <a href="#" style="pointer-events: none; cursor: default;">|||></a>
            <a th:href="@{/logout}" th:value="#{Logout}"></a>
            <a href="#" style="pointer-events: none; cursor: default;"><|||</a>
            <span sec:authorize="isAuthenticated()">
                Hello <span sec:authentication="name">someone</span>
            </span>
            <span sec:authorize-url="/admin">
                <br/>
                <a th:href="@{/admin}">Admin</a>
            </span>
        </div>
        <div>
            <form id="atmSearchForm" class="form-inline my-2 my-lg-0" action="#" th:action="@{/atms/search}" method="get" onsubmit="addCommonHeader()">
                <div class="col-12">
                    <input type="text" name="searchString" class="form-control is-valid" th:value="${searchString}" th:placeholder="#{Criteria}">
                    <input class="btn btn-secondary my-2" type="submit" th:value="#{Search}"/>
                    <input class="btn btn-primary my-2" type="reset" th:value="#{Reset}"/>
                    <span th:text="#{Language}"></span>
                    <span>&nbsp;:&nbsp;</span>
                    <select id="locales" value="javascript:language">
                        <option value="" text="< Select >"></option>
                        <option value="en_US" th:text="English"></option>
                        <option value="fr" th:text="France"></option>
                        <option value="sr_RS" th:text="Srpski"></option>
                    </select>
                </div>
            </form>
            <div>
                <p th:if="${searchResult ne null and not #lists.isEmpty(searchResult)}">
                    <span th:text="#{Found}">Found</span>
                    <b><span th:text="${count}">0</span></b>
                    <span th:text="#{atms}">ATMs</span>
                </p>
                <p th:if="${searchResult eq null or #lists.isEmpty(searchResult)}">
                    <span th:text="#{PleaseLoadAndSearch}">Please, Load and Search ...</span>
                </p>
            </div>
            <table class="table table-hover table-striped table-bordered" style="width: 100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:value="#{Street}">Street</th>
                        <th scope="col" th:value="#{Number}">Number</th>
                        <th scope="col" th:value="#{Type}">Type</th>
                        <th scope="col" th:value="#{Distance}">Distance</th>
                        <th scope="col" th:value="#{City}">City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${searchResult eq null or #lists.isEmpty(searchResult)}">
                        <td colspan="6">
                            <p th:value="#{NoATMsFound}">No ATMs found</p>
                        </td>
                    </tr>
                    <tr th:if="${searchResult ne null and not #lists.isEmpty(searchResult)}" 
                        th:each="atm, iter : ${searchResult}">
                        <th scope="row">
                            <a th:href="${'edit/' + atm.id}">
                                <span th:text="${iter.index + 1}">#</span>
                            </a>
                        </th>
                        <td th:text="${atm.addressStreet}">Street</td>
                        <td th:text="${atm.addressHousenumber}">Number</td>
                        <td th:texe="${atm.atmType}">Type</td>
                        <td th:text="${atm.distance}">Distance</td>
                        <td th:text="${atm.addressCity}">City</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
