<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- prevent cache -->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta th:title="#{AppTitle}"></meta>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="favicon.ico">
        <style type="text/css">
            html *
            {
               font-size: 1em !important;
               color: #000 !important;
               font-family: Arial !important;
            }
        </style>
    </head>
    <body>
        <div>Welcome to the ATMs demo App.</div>
        <div>Version : atmsapp-1.0-SNAPSHOT</div>
        <div>Please, wait...</div>
        <div>Application version is: 1.0-SNAPSHOT</div>
        <div>We are redirecting you to home screen...</div>
        <script type="text/javascript">window.location='atms';</script>
    </body>
</html>